@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200; 300; 400; 500; 600; 700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800&display=swap');
:root { --primary-color: #e4b536; --secondary-color: #d43117; } 

.wrapper { max-width: 1400px; margin: 0 auto; padding: 0 6%; position: relative; } 
html, body { background: #1a1a1a; color: #fff; font-family: 'Open Sans', sans-serif; margin:0; } 

body::before { content: ""; background: url('https://feria888.com/images/hidden_treasure.jpg'); background-position-x: 0%; background-position-y: 0%; background-repeat: repeat; background-size: auto; position: fixed; top: 0; left: 0; height: 100vh; width: 100%; filter: brightness(0.6); background-repeat: no-repeat; background-size: cover; background-position-y: center; background-position-x: center; } 
ul { list-style: none; padding: 0; margin: 0; } 
figure { margin:0; } 
img { max-width: 100%; } 
h1,h2,h3,h4,h5,h6 { margin: 0; font-family: 'Oswald', sans-serif; } 
p { margin: 0; } 

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; } 
 .clearfix { clear: both; overflow: hidden; } 