:root { --primary-color: #e4b536; --secondary-color: #d43117; } 

.wrapper { margin: 0 auto; padding: 0 6%; position: relative; }
html, body { color: #fff; font-family: 'Open Sans', sans-serif; margin:0; } 


ul { list-style: none; padding: 0; margin: 0; } 
figure { margin:0; } 
img { max-width: 100%; } 
h1,h2,h3,h4,h5,h6 { margin: 0; font-family: 'Oswald', sans-serif; } 
p { margin: 0; } 

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; } 
 .clearfix { clear: both; overflow: hidden; } 


 .swiper-slide figure{display: contents;}
 .error_message{color: red;margin: 10px 0;}